#rect1 {
    position: absolute;
    width: 100px;
    height: 60px;
    left: 37.5%;
    top: 57%;
    border: solid yellow 5px;
}
#rect2 {
    position: absolute;
    width: 250px;
    height: 160px;
    right: 13%;
    top: 60%;
    border: solid yellow 5px;
}

#resultWrap {
    display: inline-block;
    width: 400px;
    border: 1px solid red;
}

#backgroundContainer{
    height: 100%;
    background-image: url('../sources/images/road.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 86%;
}

#contact_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;

}
