#rect1 {
    position: absolute;
    width: 150px;
    height: 90px;
    left: 33%;
    top: 25%;
    border: solid yellow 5px;
}
#rect2 {
    position: absolute;
    width: 200px;
    height: 140px;
    right: 20%;
    top: 30%;
    border: solid yellow 5px;
}

#resultWrap {
    display: inline-block;
    width: 400px;
    border: 1px solid red;
}

#backgroundContainer{
    height: 100%;
    background-image: url('../sources/images/nocar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 13%;

}
